.column {
  background: var(--COLOR-GRAY-DARK);
  min-height: 20rem;
  color: #fff;
  width: 33%;
  max-width: 20rem;
  margin: 0 0.5rem;
  border-radius: 4px;
  padding-top: 0.25rem;
  padding-bottom: 1rem;
}

.column.drop {
  border: dashed white 4px;
}
